﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>DirEngine - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <link rel="stylesheet" href="~/Utils/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Utils/css/animate.css">
    <link rel="stylesheet" href="~/Utils/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Utils/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Utils/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Utils/css/aos.css">
    <link rel="stylesheet" href="~/Utils/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Utils/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Utils/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Utils/css/flaticon.css">
    <link rel="stylesheet" href="~/Utils/css/icomoon.css">
    <link rel="stylesheet" href="~/Utils/css/style.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/select2.min.css">
    <!-- Ion Slider -->
    <link rel="stylesheet" href="~/plugins/ionslider/ion.rangeSlider.css">
    <!-- ion slider Nice -->
    <link rel="stylesheet" href="~/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <!-- bootstrap slider -->
    <link rel="stylesheet" href="~/plugins/bootstrap-slider/slider.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">dirEngine.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="@Url.Action("Tour", "Servides")" class="nav-link">Tour</a></li>
                    <li class="nav-item"><a href="@Url.Action("Hotel", "Servides")" class="nav-link">Hotels</a></li>
                    <li class="nav-item"><a href="@Url.Action("Fligths", "Servides")" class="nav-link">Flighs</a></li>
                    <li class="nav-item"><a href="@Url.Action("Blog", "Home")" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a></li>
                    <li class="nav-item cta"><a href="@Url.Action("Contact", "Home")" class="nav-link"><span>Add listing</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div>
        @RenderBody()

        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">dirEngine</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Information</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">About</a></li>
                                <li><a href="#" class="py-2 d-block">Service</a></li>
                                <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Become a partner</a></li>
                                <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Customer Support</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                                <li><a href="#" class="py-2 d-block">How it works</a></li>
                                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib--- Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Utils/js/jquery.min.js"></script>
    <script src="~/Utils/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Utils/js/popper.min.js"></script>
    <script src="~/Utils/js/bootstrap.min.js"></script>
    <script src="~/Utils/js/jquery.easing.1.3.js"></script>
    <script src="~/Utils/js/jquery.waypoints.min.js"></script>
    <script src="~/Utils/js/jquery.stellar.min.js"></script>
    <script src="~/Utils/js/owl.carousel.min.js"></script>
    <script src="~/Utils/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Utils/js/aos.js"></script>
    <script src="~/Utils/js/jquery.animateNumber.min.js"></script>
    <script src="~/Utils/js/bootstrap-datepicker.js"></script>
    <script src="~/Utils/js/scrollax.min.js"></script>
    @RenderSection("pageScripts", false)
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Utils/js/google-map.js"></script>
    <script src="~/Utils/js/main.js"></script>
    <script src="~/plugins/select2/select2.full.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
